<%# for each comment in comments... sort by element first? also, grab fewer than all of them %>
<h1>Comments from last week at <%= current_site.name %></h1>

<% element_and_comments do |elem, comments| %>
  <h2><%= elem.name %></h2>
    <ul>
      <% comments.each do |comm| %>
        <li><%= comm.content %>
          <ul>
            <li><%= comm.user.fullname %>, <%= comm.created_at.strftime("%b %-d") %></li>
          </ul>
        </li>
      <% end %>
    </ul>
<% end %>
