<h3>Preuse Instructions</h3>
<h4>Setup</h4>
<h5>Equipment:</h5>
<%= raw element.setup_equipment_instructions %>
<h5>Element:</h5>
<%= raw element.setup_element_instructions %>
<h5>Environment:</h5>
<%= raw element.setup_environment_instructions %>

<h4>Takedown</h4>
<h5>Equipment:</h5>
<%= raw element.takedown_equipment_instructions %>
<h5>Element:</h5>
<%= raw element.takedown_element_instructions %>
<h5>Environment:</h5>
<%= raw element.takedown_environment_instructions %>

<h3>Periodic Instructions</h3>
<h5>Equipment:</h5>
<%= raw element.periodic_equipment_instructions %>
<h5>Element:</h5>
<%= raw element.periodic_element_instructions %>
<h5>Environment:</h5>
<%= raw element.periodic_environment_instructions %>
