<div class="elements-section">
  <h2>Preuse Instructions</h2>
  <div class="instructions" id="setup-instructions">
    <h3>Setup</h3>
    <h4>Equipment:</h4>
    <%= raw element.setup_equipment_instructions %>
    <h4>Element:</h4>
    <%= raw element.setup_element_instructions %>
    <h4>Environment:</h4>
    <%= raw element.setup_environment_instructions %>
  </div>

  <div class="instructions" id="takedown-instructions">
    <h3>Takedown</h3>
    <h4>Equipment:</h4>
    <%= raw element.takedown_equipment_instructions %>
    <h4>Element:</h4>
    <%= raw element.takedown_element_instructions %>
    <h4>Environment:</h4>
    <%= raw element.takedown_environment_instructions %>
  </div>
</div>

<div class="elements-section">
  <h2>Periodic Instructions</h2>
  <div class="instructions" id="periodic-instructions">
    <h4>Equipment:</h4>
    <%= raw element.periodic_equipment_instructions %>
    <h4>Element:</h4>
    <%= raw element.periodic_element_instructions %>
    <h4>Environment:</h4>
    <%= raw element.periodic_environment_instructions %>
  </div>
</div>