<div id="elements-list">
<% @elements.each do |element| %>
  <div class="element-card">
    <div class="element-card-links">
      <h3><%= element.name %></h3>
      <ul>
        <li><%= link_to "Preuse inspections", new_element_preuse_inspection_path(element) %></li>

        <% if current_user.has_permissions?("lead") %>
          <li><%= link_to "Periodic inspections", new_element_periodic_inspection_path(element) %></li>
        <% end %>

        <% if current_user.has_permissions?("admin") %>
          <li><%= link_to "View/change element details", element_path(element) %></li>
        <% end %>
      </ul>
    </div>
    <img src=<%= asset_path "#{element.name.gsub(/[^0-9a-z]/i, "")}.png" %>>
  </div>
<% end %>
</div>