<% @elements.each do |element| %>
  <h3><%= element.name %></h3>
  <ul>
    <li><%= link_to "View today's inspection", "/elements/#{element.id}/preuse_inspections", method: :post %></li>
    <li><%= link_to "View past inspections", element_preuse_inspections_path(element) %></li>

    <% if current_user.has_permissions?("lead") %>
      <li><%= link_to "Log a periodic inspection", new_element_periodic_inspection_path(element) %></li>
    <% end %>

    <% if current_user.has_permissions?("admin") %>
      <li><%= link_to "View/change element details", element_path(element) %></li>
    <% end %>
  </ul>
<% end %>

<% if current_user.has_permissions?("admin") %>
  <%= link_to "View this week's comments", comments_path %>
<% end %>
