<h2><%= @element.name %></h2>
<%= link_to "Edit details", edit_element_path(@element) %><br>

Date of last Periodic Inspection:<br>
<%= @element.date_of_last_periodic %>

<%= rope_details %>

<%= render partial: 'instructions', locals: {element: @element} %>
