<div id="show-element">
  <div class="elements-section">
    <h2><%= @element.name %></h2>
    <%= link_to "Edit details", edit_element_path(@element) %>
  </div>

  <div class="elements-section">
    Date of last Periodic Inspection:<br>
    <ul id="periodic-ul">
      <% @element.periodic_inspections.sort{|a,b| b.date - a.date}.each do |inspection| %>
        <li class="periodic-li"><%= link_to inspection.date, element_periodic_inspection_path(@element, inspection) %></li>
      <% end %>
      <a href="#" id="show-more-periodics">Show more</a>
    </ul>
  </div>

  <div class="elements-section">
    <%= rope_details %>
  </div>

  <%= render partial: 'instructions', locals: {element: @element} %>
</div>