<h2><%= @element.name %></h2>
<%= link_to "Edit details", edit_element_path(@element) %><br>

Date of last Periodic Inspection:<br>
<%= link_to @element.date_of_last_periodic, element_periodic_inspection_path(@element, @element.periodic_inspections.last) %>

<%= rope_details %>

<%= render partial: 'instructions', locals: {element: @element} %>
