<%= f.fields_for :setup do |ff| %>
  <%= errors_check(setup) %>
  <div class="setup-instructions form-group">
    <%= @element.setup_equipment_instructions.html_safe %><br>
    <div class="form-check">
      <%= ff.check_box :equipment_complete, class:"form-check-input" %>
      <%= ff.label "Section completed?", class: "form-check-label" %>
    </div>
  </div>
  <div class="setup-instructions form-group">
    <%= @element.setup_element_instructions.html_safe %><br>
    <div class="form-check">
      <%= ff.check_box :element_complete, class:"form-check-input" %>
      <%= ff.label "Section completed?", class: "form-check-label" %>
    </div>
  </div>
  <div class="setup-instructions form-group">
    <%= @element.setup_environment_instructions.html_safe %><br>
    <div class="form-check">
      <%= ff.check_box :environment_complete, class:"form-check-input" %>
      <%= ff.label "Section completed?", class: "form-check-label" %>
    </div>
  </div>

  <div class="form-group">
    <%= render partial: 'comments', locals: {f:f, inspection:setup} %>
  </div>
<% end %>

<%= updated_by_div(setup) %>
