<%= f.fields_for :setup do |ff| %>
  <%= errors_check(setup) %>
  <div class="setup-instructions form-group">
    <h2>Equipment</h2>
    <div class="instructions-text"><%= @element.setup_equipment_instructions %></div>
    <div class="form-check">
      <%= ff.check_box :equipment_complete, class:"form-check-input" %>
      <%= ff.label "Section completed?", class: "form-check-label" %>
    </div>
  </div>
  <div class="setup-instructions form-group">
    <h2>Element</h2>
    <div class="instructions-text"><%= @element.setup_element_instructions %></div>
    <div class="form-check">
      <%= ff.check_box :element_complete, class:"form-check-input" %>
      <%= ff.label "Section completed?", class: "form-check-label" %>
    </div>
  </div>
  <div class="setup-instructions form-group">
    <h2>Environment</h2>
    <div class="instructions-text"><%= @element.setup_environment_instructions %></div>
    <div class="form-check">
      <%= ff.check_box :environment_complete, class:"form-check-input" %>
      <%= ff.label "Section completed?", class: "form-check-label" %>
    </div>
  </div>

  <div class="form-group">
    <%= render partial: 'periodic_inspections/comments', locals: {f:ff, inspection:setup} %>
  </div>
<% end %>

<%= updated_by_div(setup) %>
