<hr>
<%= f.fields_for :takedown do |ff| %>
  <%= errors_check(takedown) %>
  <div class="climb-blocks form-group">
    <%= rope_and_climb_fields(ff, takedown) %>
  </div>

  <div class="takedown-instructions form-group">
    <h2>Equipment</h2>
    <%= @element.takedown_equipment_instructions.html_safe %><br>

    <div class="form-check">
      <%= ff.check_box :equipment_complete, class:"form-check-input" %>
      <%= ff.label "Section completed?", class: "form-check-label" %>
    </div>
  </div>
  <div class="takedown-instructions form-group">
    <h2>Element</h2>
    <%= @element.takedown_element_instructions.html_safe %><br>

    <div class="form-check">
      <%= ff.check_box :element_complete, class:"form-check-input" %>
      <%= ff.label "Section completed?", class: "form-check-label" %>
    </div>
  </div>
  <div class="takedown-instructions form-group">
    <h2>Environment</h2>
    <%= @element.takedown_environment_instructions.html_safe %><br>

    <div class="form-check">
      <%= ff.check_box :environment_complete, class:"form-check-input" %>
      <%= ff.label "Section completed?", class: "form-check-label" %>
    </div>
  </div>

  <div class="form-group">
    <%= render partial: 'periodic_inspections/comments', locals: {f:ff, inspection:takedown} %>
  </div>
<% end %>

<%= updated_by_div(takedown) %>
