<%= form_for [inspection.element, inspection] do |ff| %>
  <%= errors_check(inspection) %>
  <div class="periodic-instructions form-group">
    <%= @element.periodic_equipment_instructions.html_safe %><br>
    <div class="form-check">
      <%= ff.check_box :equipment_complete, class:"form-check-input" %>
      <%= ff.label "Section completed?", class: "form-check-label" %>
    </div>
  </div>
  <div class="periodic-instructions form-group">
    <%= @element.periodic_element_instructions.html_safe %><br>
    <div class="form-check">
      <%= ff.check_box :element_complete, class:"form-check-input" %>
      <%= ff.label "Section completed?", class: "form-check-label" %>
    </div>
  </div>
  <div class="periodic-instructions form-group">
    <%= @element.periodic_environment_instructions.html_safe %><br>
    <div class="form-check">
      <%= ff.check_box :environment_complete, class:"form-check-input" %>
      <%= ff.label "Section completed?", class: "form-check-label" %>
    </div>
  </div>

  <%# TODO comments here %>
<% end %>

<%= updated_by_div(inspection) %>
